<section id="corpo">
  <div id="legenda">
    <h2>Hello! My name is <span>Rafael Rascovit</span> and I have creative ideas<br>and build websites.</h2>
    <%= link_to 'See my work', 'portfolio', class: "btn btn-info btn-lg", id: "btn-corpo" %>
  </div>
</section>
