<section id="corpo">
  <figure class="foto-legenda">
    <%= image_tag ("desfocado.jpg"), class: "img-corpo" %>
    <figcaption>
      <h2>Hello! My name is <span>Rafael Rascovit</span> and I have creative ideas and build websites.</h2>
      <%= link_to 'See my work', 'portfolio', class: "btn btn-info", id: "btn-corpo" %>
    </figcaption>
  </figure>
</section>
