/* Formatação da interface do site */

div#interface {
  
}

/* Formatação Cabeçalho */

header#cabecalho {
  width: 1500px;
  height: 125px;
  margin: auto;
}

header#cabecalho h1 {
  text-align: right;
  font-size: 23px; 
}

/* Formatação do Menu */

nav#menu {
  display: block;
}

nav#menu ul {
  text-transform: uppercase;
  position: absolute;
}

nav#menu li {
  display: inline-block;
  padding: 5px;
  font-size: 30px;
}

nav#menu a {
  
}

nav#menu a:hover {
  text-decoration: underline;
}

/* Formatação corpo */

figure.foto-legenda {
  position: relative;
}

.img-corpo {
  max-height: 500px;
}

section#corpo {
  margin: auto;
}

section#corpo h2 {
  position: absolute;
  top: 30px;
  color: white;
  width: 1500px;
  text-align: right;
}

#btn-corpo {
  position: absolute;
  top: 150px;
  left: 1250px;
}

/* Formatação Rodape */

footer#rodape {
  width: 1500px;
  height: 75px;
  margin: auto;
}

footer#rodape h6 {
  text-align: right;
  font-size: 10px;
}

footer#rodape p {
  text-align: center;
  padding: 10px;
}

.facebook {
  width: 50px;
  height: 50px;
}

.twitter {
  width: 50px;
  height: 50px;
  
}
