/* Formatação da interface do site */

div#interface {  
  margin: 10px auto 0px auto;  
}

/* Formatação Cabeçalho */

header#cabecalho {
  width: 80%; 
  height: 75px;
  margin: auto;
  position: relative;
}

header#cabecalho h1 {
  position: absolute;
  font-size: 18px;
  bottom: 10px;
  right: 10px;
}

/* Formatação do Menu */

nav#menu {
  display: block;
}

nav#menu ul {
  text-transform: uppercase;
  position: absolute;
  padding-left: 0px;
}

nav#menu li {
  display: inline-block;
  padding: 3px 3px 3px 0px;
}

nav#menu a {
  
}

nav#menu a:hover {
  text-decoration: underline;
}

/* Formatação corpo */

section#corpo {
  background-image: url(asset_path('nature.jpg'));
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  margin: auto;
  position: relative;  
}

div#legenda {
  width: 80%;
  margin: auto;
  position: relative;
}

div#legenda h2 {
  position: absolute;
  top: 75px;
  right: 0px;
  text-align: right;
  color: white;
}

#btn-corpo {
  position: absolute;
  top: 200px;
  right: 0px;
}

/* Formatação Rodape */

footer#rodape {
  width: 80%;
  height: 75px;
  margin: auto;
}

footer#rodape h6 {
  text-align: right;
  font-size: 10px;
}

footer#rodape p {
  text-align: center;
  padding: 10px;
}

.facebook {
  width: 50px;
  height: 50px;
}

.twitter {
  width: 50px;
  height: 50px;  
}
